@font-face {
  font-family: "CLT-Mattone";
  src: url("../fonts/CLT-Mattone/Mattone-Regular.woff2") format("woff2");
  /* src: url("../fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf") format("ttf"); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
